.container-fluid {
    margin: 0;
    padding: 200px;
    text-align: center;
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200px;
    background-image: url(../img/assets/backgrounds/landing.jpg);
    background-size: cover;

}
 #happy{
   height: 10%;
   width: 60%;

  }
#party{
  background-color: #FF6347;
  height: 10%;
  width: 60%;

}
#Breakfast{
  background-image: url(img/assets/foodtop/breakfast.jpg);
}
#dinner{
  background-image: url(img/assets/foodtop/dinner.jpg);
  padding: 100px;
}
#lunch{
  background-image: url(img/assets/foodtop/lunch.jpg);
}
