.logo{
    margin: 0;
    padding: 100px;
    text-align: center;
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200px;
    background-image: url(../img/assets/backgrounds/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 101%;



}
#styleone{
  font-size: 25px;
  font-family: Georgia, 'Times New Roman' Times, serif;
}

#partytime:{
  width: 600px;

}
#hour{
  width: 500px;
  padding-bottom: 0.8em;
}
#time{
  width:500px;
  padding-bottom: 2.13em;
  background-color: #ff6600;


}
#breakfast img{
    height: 200px;
    width:470px;

}
#breakfast:hover{
  background-color: white;
    color: black;

}

#dinner img{
  height: 200px;
  width: 475px;

}
#lunch img{
  height: 200px;
  width: 460px;
}

#button1{
  background-color: white;
    border: 2px solid #ff6600;
    color: #ff6600;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: absolute;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
#button1:hover{
   background-color: #ff6600;
   color: whitesmoke;
   font-family: "Georgia" serif;
}

#imageicon{
  font-size: 17px;

}


#fastfood{
  border-style: solid;
  border-color: white;
  border-width: 20px;
  box-shadow:  0 0 10px 10px #f2f2f2;

}
.asset1{
  width: 600px;

}

#drinks{
  border-style: solid;
  border-color: white;
  border-width: 10px;
  box-shadow:  0 0 10px 10px #f2f2f2;
}



#happy-customers{
  border: 8px; solid  #ddd;
  border-radius: 10px;
  width: auto;
  background-color: white;
  text-align: center;
}




.buttons{
  background-image: url(../img/assets/backgrounds/foodsBg.jpg);
  height: 600px;
  width: 101%;
  background-image: cover;
}

#beefBurger{
  width: 300px;
}

#chickenBurger{
  width: 300px;
}

#chickenPizza{
  width: 300px;
}

#happy-customers h3{
  color: #ff6600;
}


#customers{
  font-size: 18px;
  font-family: "Georgia", serif;
}
#customers h3{
  color: #ff6600;
}

#menu{
  font-size: 18px;
  font-family: "Georgia", serif;
}

#menu h5{
  color: #ff6600;

}

.customers h3{
  color: #ff6600;
}

.col-md-4{
  padding-left: 1psx;
}

.subscribe{
  text-align: center;
}

.email{
  color: white;
  margin-top: -100px;
  margin-left: 300px;
}

.contain-em{
  background-color: #ff6600;
  font-size: 21px;
  font-family: serif;
  text-align: center;
  color: whitesmoke;
}
