.container-fluid {
    margin: 0;
    padding: 200px;
    text-align: center;
    font-size: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200px;
    background-image: url(../img/assets/backgrounds/landing.jpg);
    background-size: cover;

}

 .row{
    padding-left: 300px;
 }

#breakfast img{
    height: 300px;
}
#dinner img{
  height: 300px;
}
#lunch img{
  height: 300px;
}

.container{
  background: url(../img/assets/backgrounds/foodsBg.jpg);
  padding: 90px;
}
